button{
  background-color: aquamarine;
  padding: 10px 30px;
  margin-left: 50px;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
}

.box{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: palevioletred;
  
}