*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  color: white;
}


button{
  background-color: #7fffd4;
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 600;
}

.box{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: palevioletred;
  
}
button:active{
  scale: 0.95;
}
.parent{
  padding: 50px;
  background-color: rgb(14, 4, 19);
}



.Wash{
  border-radius: 10px;
  margin-top: 20px;
  width: fit-content;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: 600;
  /* background: linear-gradient(violet,skyblue,indigo,pink,red,orange); */
}