*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#box{
    height: 400px;
    width: 400px;
    background-color: aqua;
}

#container{
    background-color: aqua;
}

#box{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
#circle{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-radius: 50%;
}
#paro{
    background-color: pink;
    height: 500px;
    width: 500px;


}