*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

#img{
    height: 300px;
    width: 300px;
}
h2{
    font-size: 40px;
    color: white;
}