* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body #root {
  height: 100%;
  width: 100%;
}

html {
  background-color: rgb(68, 59, 59);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes {
  padding-block: 20px;
  padding-inline: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.note {
  background-color: rgb(142, 148, 194);
  padding: 1rem;
  font-size: larger;
  border-radius: 0.7rem;
  max-width: 20 rem;
  color: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-create-form {
  display: flex;
  gap: 1rem;
  max-width: 20 rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.note button{
  margin: 1rem;
  padding-block: 5px;
  padding-inline: 2rem;
  background-color: aquamarine;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all ease 9.s ;
}

.note button:hover{
  scale: 0.9ms;
  background: linear-gradient(skyblue,white);
}