*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://unsplash.com/photos/birds-eye-view-of-body-of-water-J4fcg3i1rwg);
    background-size: cover;
}