* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);

}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);
    padding: 20px;
    overflow: auto;


    section {
        height: 100%;
        width: 350px;
        background-color: black;
        margin: auto;
        border-radius: 10px;

    }

    .all-reels::-webkit-scrollbar{
        display: none;
    }

    .all-reels {
        height: 100%;
        width: 100%;
        margin: auto;
        overflow: auto;
        border-radius: 10px;
        margin-bottom: 20px;



        .reel {
            height: 100%;
            width: 100%;
            position: relative;
            background-color: lightblue;
            border-radius: 10px;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;

            }

            .bottom {
                padding: 30px 20px;
                background: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0.948));
                width: 100%;
                position: absolute;
                bottom: 0;

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 20px;

                    h4 {
                        cursor: pointer;
                        color: white;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    button {
                        color: white;
                        background-color: transparent;
                        padding: 2px 4px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 2px;
                        border: 2px solid white;

                    }

                    img {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    color: white;
                }
            }

            .right {
                color: white;
                padding: 30px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 15px;
                width: 40px;
                position: absolute;
                // transform: translateX(100%);
                right: 0;
                bottom: 12%;
                background: linear-gradient(to right, transparent, rgb(22, 22, 22));

                i {
                    font-size: 25px;
                }

                h6 {
                    font-size: 20px;
                    font-weight: 500;
                }
                .love{
                    color: red;
                }


            }

        }

    }
}