* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);

}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);
    padding: 20px 20px;
    overflow: auto;

    .mute {
        background-color: #333;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; // IMPORTANT
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 10;
    
        i {
          font-size: 22px;
          color: #fff;
          pointer-events: none; // allows click through icon to button
        }
    
        &:active {
          scale: 0.92;
        }
      }




    section {
        height: 100%;
        width: 350px;
        background-color: black;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;

    }

    .all-reels::-webkit-scrollbar{
        display: none;
    }

    .all-reels {
        scroll-snap-type: y mandatory;
        height: 100%;
        overflow-y: scroll;    
        width: 100%;
        margin: auto;
        overflow: auto;
        border-radius: 10px;
        margin-bottom: 20px;



        .reel {
            scroll-snap-align: start;
            height: 100%;  
            position: relative;
            width: 100%;
            position: relative;
            background-color: lightblue;
            border-radius: 10px;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;

            }

            .bottom {
                padding: 30px 20px;
                background: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0.948));
                width: 100%;
                position: absolute;
                bottom: 0;

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 20px;

                    h4 {
                        cursor: pointer;
                        color: white;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    button {
                        color: white;
                        background-color: transparent;
                        padding: 2px 4px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 2px;
                        border: 2px solid white;

                    }

                    img {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    color: white;
                }
            }

            .right {
                color: white;
                padding: 30px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 15px;
                width: 40px;
                position: absolute;
                right: 0;
                bottom: 12%;
                background: linear-gradient(to right, transparent, rgb(22, 22, 22));


                >div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    cursor: pointer;

                   >div h4{
                        pointer-events: none;
                    }
                   >div h6{
                        pointer-events: none;
                    }
                }

                i {
                    font-size: 25px;
                }

                h6 {
                    font-size: 20px;
                    font-weight: 500;
                }
                .love{
                    color: red;
                }







            }

        }

    }
}