*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


body{
    background-color: rgb(26, 18, 18);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 100px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 20px ;
    font-family: monospace;
    background-color: #575555;
    border: 1px solid salmon;
    box-shadow:5px 10px 10px crimson;

}