*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* today i am going to learn about the advance-css concepts */

/* 1) box-shadow */
/* 2)text-shadow */
/* 3)conic-gradiant */
/* 4)keyframes */
/* 5)property */
/* :has() */

/* learning the effect box shadow */
.vishu{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    border-radius: 20px;
    /* box-shadow: x , y |spread  radius|color ; */
    /* inset is for making a box shadow inner the box */
    box-shadow: inset 20px 20px 30px rgb(145, 48, 48);
}

/* learning the effect Text shadow */
h1{
    font-size: 50px;
    text-align: center;
    /* text-shadow: x , y |spread  radius|color ; */
    text-shadow: 5px 5px 2px rebeccapurple;
}

 /* learning the conic-gradiant */
 .conic{
    width: 300px;
    height: 300px;
    background: conic-gradient(from 45deg, rgb(173, 158, 158),rgb(2, 2, 10));
    border-radius: 20px;
 }

  /* learning abot keyframes */

  /* using keyframes we can add animation on the webpage */
/* it has a two character in from and to */
/* from - from means where from the value is comming */
/* to - to tells from where to go to the destination */

.key{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    animation: changeBackgroundColor 6s  alternate;
 }

 /* discrete properties in css */

  @keyframes changeBackgroundColor{
    from{
        background-color: white;
        scale: 1;
        transform: translateX(0px)scale(1);
        visibility: visible;

    }
    to{
        background-color: rgb(153, 51, 93);
        scale: 0.7;
        transform: translateX(100px)scale(0.5);
        visibility: hidden;

    }

  }

  /* @property learning about properties */
/* color,length,angle */


.property{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: var(--bgcolor);
    animation: animatebgcolor 5s;
}
 @property --bgcolor {
    syntax: "<color>" ; 
     /* says the type and name of the properties */
    initial-value: red;
    inherits: false;
 }

 @keyframes animatebgcolor {
    from{
        --bgcolor : red;
    }
    to{
        --bgcolor : rgb(32, 15, 190);
    }
    
 }