*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 600;
        background-color: crimson;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 9;
    }

    button:active{
        scale: 0.95;
    }

    h1{
        color: wheat;
        white-space: nowrap;
    }
}