*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  background-color: rgb(1, 7, 5);
}


.box1,.box2,.box3,.box4,.box5 ,.box6,.box7,.box8,.box9,.box10{
  margin:20px;
  height: 50px;
  width: 100px;
}

.box1{
  background-color: rgb(55, 169, 197);
}

.box2{
  background-color: blueviolet;
}

.box3{
  background-color: blue;
}

.box4{
  background-color: palevioletred
}

.box5{
  background-color: aqua;
}

.box6{
  background-color: rgb(229, 173, 173);
}

.box7{
  background-color: rgb(240, 152, 90);
}

.box8{
  background-color: rgb(255, 0, 0);
}

.box9{
  background-color: rgb(255, 255, 0);
}

.box10{
  background-color: rgb(0, 255, 0);
}