* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(66, 80, 75);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 400px;
  width: 250px;
  border: 1px solid crimson;
  background-color: rgb(203, 248, 248);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow:5px 10px 10px crimson;
}

.card img {
  width: 100%;
  height: 300px;
  border: 1px solid crimson;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card #love {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 80px;
  color: crimson;
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}

.card h2{
  font-size: 32px;
  color: rgb(20, 16, 11);
}