*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #ffff;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr ;

}
.child{
    background-color: rgb(247, 128, 152);
    border: 3px solid white;
}