*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    padding: 30px 30px;

}

.card{
    height: 350px;
    width: 350px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;

}
.bottom{
        height: 40%;
        width: 100%;
        background-color: rgb(235, 6, 6);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(transparent,rgb(87, 31, 160));
        bottom: -40%;
        transition: all ease 0.3s;
}
.bottom h1{
    color: rgb(253, 249, 249);
    padding: 20%;

}
.card:hover .bottom{
    bottom: 0;
}
