*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image:url(https://images.unsplash.com/photo-1523236955203-3849865c2d91?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI3fHx8ZW58MHx8fHx8) ;
    background-size: cover;
}

:root{
    --x:400px;
    --y:400px;
}
.box{
    width: 100%;
    height: 100%;
    background: radial-gradient(
         150px at var(--x) var(--y),
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.834) 80%,    
        rgba(54, 54, 54, 0.425) 100%    
    );
    }
