*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(6, 7, 7);
}
main{
    height: 100%;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;


    .card{
        // height: 350px;
        width: 270px;
        background-color: rgb(250, 245, 245);
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid salmon;
        box-shadow:5px 10px 10px crimson;

        img{
            height:150px ;
            width: 150px;
            object-fit: cover;
            border: 1px solid salmon;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        h3{
            font-size: 26px;
            white-space: nowrap;
        }
        h4{
            font-size: 18px;
            margin: 10px;
            color: crimson;
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            font-weight: 540;
        }
    }
}
