*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: aliceblue;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

.card{
  margin: 20px;
  height: 400px;
  width: 300px;
  background-color: rgb(53, 52, 52);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.image{
  margin: 10px;
  height:80px;
  width: 80px;
  border-radius: 50%;
}

.button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(189, 156, 221);
}

.button:hover{
  background-color: rgb(181, 238, 219);
}