* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 7, 5);
  color: white;

}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 ,
.box7,
.box8 ,
.box9,
.box10,
.box11,
.box12,
.box13,
.box14{
  margin: 20px;
  height: 50px;
  width: 100px;
}

.box1 {
  background-color: rgb(55, 169, 197);
}

.box2 {
  background-color: blueviolet;
}

.box3 {
  background-color: aqua;
}

.box4 {
  background-color: rgb(255, 0, 0);
}

.box5 {
  background-color: rgb(255, 255, 0);
}

.box6 {
  background-color: rgb(0, 255, 0);
}

.box7{
  background-color: rgb(255, 0, 255);
}

.box8{
  background-color: rgb(0, 255, 255);
}
.box9{
  background-color: rgb(255, 255, 255);
}
.box10{
  background-color: rgb(248, 168, 168);
}
.box11{
  background-color: rgb(207, 72, 72);
}
.box12{
  background-color: rgb(143, 217, 229);
}
.box13{
  background-color: rgb(255, 0, 0);
}
.box14{
  background-color: rgb(255, 255, 0);
}