*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

form{
  padding: 40px;
  background: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10px;
}

input,button{
  padding: 10px 50px;
}