*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  padding: 20px;
  background-color: black;

}
.user-card{
  height: 300px;
  width: 285px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: 2rem;
}
button{
  padding:10px 20px ;
  margin: 20px;

}
.All-cards{
  display: flex;
  flex-wrap: wrap;
}