*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;


    h1{
        color: white;
        margin: 20px;
    }
    button{
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 900;
        font-size: large;
        background-color: skyblue;
        border: none;
        cursor: pointer;
    }

    button:active{
        scale: 0.95;
    }
}
