* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #121212;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html {
    color: whitesmoke;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    @include flex-column(0rem);


    section {
        width: 100%;
        @include flex-column(3rem);
        gap: 1rem;
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: rgb(29, 29, 29);
            gap: 3rem;
            border-radius: 10px;
            padding: 1.5rem;
            @include flex-column(1.5rem);



            .text {
                @include flex-column(0.7rem);
                gap: 0.5rem;


                h1{
                    font-weight: 100;
                    font-size: 2 rem;
                }


                p{
                    font-weight: 100;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }
            }

        }
    }

}


