*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    
}
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;

}
#nav{
    height: 600%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
h4{

}