*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    
}
body{
    height: 100%;
    width: 100%;
}
#parent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
#box3{
    width: 200px;
    height: 200px;
    background-color: violet;
}