* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animation {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.box {
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(255, 0, 123), black)border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: animation 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px rgb(255, 0, 123);
    text-shadow: 0 0 0px rgb(255, 0, 123);
    color: white;

}

.box:hover {
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px rgb(255, 0, 123);
    color: rgb(255, 0, 123);
    text-shadow: 0 0 10px rgb(255, 0, 123);

}

.box img {
    width: 100%;
}