*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #ffff;

}
html,body{
    height: 100%;
    width: 100%;
    
}
#parent{
    height: 300px;
    width: 300px;
    background-color: teal;
    margin: 20px;
    padding: 30px;
    font-size: 20px;

}
h1{
    font-size: 1em;  
}

h3{
    font-size: 3em;  
}

h6{
    font-size: 2em;  
}

p{
    font-size: 0.5em;  
}